// Colors : *****************************************************

// colors:
$primary: #000;
$secondary: #aa0000;
$bg: #fff;
$alterBg: #eeeeee;
$accent: #4f4f4f;
$tread: #ee4266;
$counterAccent: #003049;


$shadow: #00000033;
$shadow2: #00000099;
$nav: $bg;

.secondary {
    color: $secondary;
}

// borders:
$border0: 1px solid $primary;
$border1: 1px dashed $primary;



// icons : ***********************************************************


.map-image {
    background-image: url('./icons/de.svg');
}


.profile-photo {
    border: $border0;
}
.profile-photo-shadow {
    border: $border0;
    // background-color: $accent;
    background-size: 50px 50px;
}

// Elements: ***************************************************

nav {
    background-color: transparent;
}

h1, h3 {
    color: $primary;
}

h2 {
    color: $secondary;
}

i {
    color: $primary;
}

// Classes : ****************************************************

.dropdown {
    .dropdown-content {
        background-color: $bg;
        border: $border1;
        box-shadow: 0.2rem 0.2rem 0.5rem $primary;
        a {
            &:hover {
                background-color: $primary;
            }

            &:hover h3 {
                color: $bg;
                font-weight: 600;
            }
        }
    }
}

.select-box {
    border: 0.01rem solid $primary;
    box-shadow: inset 0.2rem 0.2rem 0.3rem $shadow2;
    background-color: $alterBg;
    color: $primary;

    option {
        background-color: $bg;
        color: $primary;
    }
}

#scroll-spy-container {
    border-bottom: $border0;
    border-right: $border0;
    border-left: $border0;
    box-shadow: 0 0.7rem 0.8rem $shadow;
}
#scroll-spy {
    background-color: $tread;
}

.interval {
    border-right: $border0;
}

.page {
    background-color: transparent;
    border: 0.1rem solid $secondary;
    box-shadow: -0.1rem -0.1rem 1rem $primary;
}

.home-image {
    border: 0.01rem solid $shadow;
    animation: moving-shadow 11s linear 0s infinite alternate none;
}


.go-down, .go-up {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    i {
        &:hover {
            background-color: $shadow2;
            color: $bg;
        }
    }
}

.icon-home {
    i {
        &:hover {
            background-color: $shadow2;
            color: $bg;
        }
    }
}

.skill-container {
    border: $border1;
    background-blend-mode: color;
}

.project-card {
    h3 {
        color: $secondary;
    }
    a {
        color: $secondary;
    }
    b {
        color: $primary !important;
    }
}


// animations: **************************************************

@keyframes moving-shadow {
    0% {box-shadow: 1rem 1rem 1rem $shadow;}
    25% {box-shadow: 1rem -1rem 1rem $shadow;}
    50% {box-shadow: -1rem -1rem 1rem $shadow2;}
    75% {box-shadow: -1rem 1rem 1rem $shadow2;}
    100% {box-shadow: 1rem 1rem 1rem $shadow;}
}