// Colors : *****************************************************

// colors:
$primary: #000;
$secondary: #d62828;
$bg: #fff;
$accent: #f77f00;
$tread: #003049;
$shadow: #00000033;
$nav: $bg;


// borders:
$border0: 1px solid $primary;
$border1: 1px dashed $primary;



// icons

.icon-menu {
    background-image: url('./icons/bars-solid.svg');
    background-size: contain;
}

.icon-home {
    background-image: url('./icons/house-solid.svg');
}

.profile-photo {
    border: $border0;
}
.profile-photo-shadow {
    border: $border0;
    // background: repeating-linear-gradient(-45deg, $accent 0rem, $accent 0.5rem, $bg 0.5rem, $bg 0.6rem);
    background-color: $accent;
    background-size: 50px 50px;
}

// Elements: ***************************************************

nav {
    background-color: $nav;
}

h1, h3 {
    color: $primary;
}

h2 {
    color: $secondary;
}


// Classes : ****************************************************

.dropdown {
    .dropdown-content {
        background-color: $bg;
        border: $border1;
        box-shadow: 0.2rem 0.2rem 0.5rem $primary;
        a {
            &:hover {
                background-color: $primary;
            }

            &:hover h3 {
                color: $bg;
                font-weight: 600;
            }
        }
    }
}

#scroll-spy-container {
    border-bottom: $border0;
    border-right: $border0;
    border-left: $border0;
    box-shadow: 0 0.7rem 0.8rem $shadow;
}
#scroll-spy {
    background-color: $tread;
}

.interval {
    border-right: $border0;
}

.page {
    background-color: $bg;
    border: 0.1rem solid $secondary;
    box-shadow: -0.1rem -0.1rem 1rem $primary;
}

.go-down {
    background: url('./icons/chevron-down-solid.svg');
}

.go-up {
    background: url('./icons/chevron-up-solid.svg');
}


.go-down, .go-up {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

