// Colors : *****************************************************

// colors:
$primary: #000;
$secondary: #888;
$bg: #f4f6ff;
$accent: #6d2323;
$tread: #ff1d1d;
$nav: $bg;


// borders:
$border0: 1px solid $primary;
$border1: 1px dashed $secondary;



// icons

.icon-menu {
    background-image: url('./icons/bars-solid-light.svg');
    background-size: contain;
}

.icon-home {
    background-image: url('./icons/house-solid-light.svg');
    background-size: contain;
}

.profile-photo {
    border: $border0;
}
.profile-photo-shadow {
    border: $border0;
    background: repeating-linear-gradient(-45deg, $bg 0rem, $bg 0.3rem, $secondary 0.3rem, $secondary 0.4rem);
    background-size: 50px 50px;
}

// Elements: ***************************************************

nav {
    background-color: $nav;
}

h1 {
    color: $primary;
}

h2 {
    color: $accent;
}


// Classes : ****************************************************

.dropdown {
    .dropdown-content {
        background-color: $bg;
        border: $border1;
        box-shadow: 0.2rem 0.2rem 0.5rem $primary;
        a {
            &:hover {
                color: $bg;
                background-color: $primary;
            }
        }
    }
}

#scroll-spy-container {
    border-bottom: $border0;
    border-right: $border0;
    border-left: $border0;
}
#scroll-spy {
    background-color: $tread;
}

.interval {
    border-right: $border0;
}

.page {
    background-color: $bg;
    border: 0.1rem solid $secondary;
    box-shadow: -0.1rem -0.1rem 1rem $primary;
}

.go-down {
    background: url('./icons/chevron-down-solid-light.svg');
}

.go-up {
    background: url('./icons/chevron-up-solid-light.svg');
}


.go-down, .go-up {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

