// Colors : *****************************************************

// colors:
$primary: #000;
$bg: #ffffff;


// borders:
$border1: 1px dotted #555;



// icons

.icon-menu {
    background-image: url('./icons/bars-solid-light.svg');
    background-size: contain;
}

.icon-home {
    background-image: url('./icons/house-solid-light.svg');
    background-size: contain;
}

// Classes : ****************************************************

.dropdown {
    .dropdown-content {
        background-color: $bg;
        border: $border1;
        a {
            &:hover {
                color: $bg;
                background-color: $primary;
            }
        }
    }
}