// primary settings: *******************************************

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // only in dev mode
    // border: 1px dashed red;
}


// lengths: 
$icon1: 1.9rem;

// font families: *****************************************************

// Elements: ***************************************************

html {
    scroll-behavior: smooth;
}


// all links:
a {
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;

    &:active {
        color: inherit;
    }

    &:visited {
        color: inherit;
    }

    &:link {
        color: inherit;
    }
}

// headings:
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    backdrop-filter: blur(0.3rem);
    z-index: 99;

    div > h3 {
        padding: 0.5rem;
        font-weight: 400;
    }

    .container {
        height: max-content;
    }
}




// classes : ***************************************************

.container, #scroll-spy-container {
    width: 80vw;
    margin: auto;
}

.flex {
    display: flex !important;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center ;
}

.icon {
    width: $icon1;
    height: $icon1;
    margin: 1rem;
}

.icon-home {
    background-size: contain;
    position: fixed;
    z-index: 999;
    bottom: 1rem;
    right: 1rem;
    animation: breath 2s ease-in-out 0s infinite alternate none;
}

.profile-photo {
    height: 4rem;
    width: 4rem;
    margin-top: 0.4rem;
    position: absolute;
}

.profile-photo-shadow {
    height: 4rem;
    width: 4rem;
    margin-top: 1.4rem;
    margin-left: 1rem;
    position: absolute;
}


// dropdowns:

.dropdown {
    .menu-btn {
        margin: 0 0.7rem;
    }
    
    .dropdown-content {
        animation: menu-fade-down 0.5s ease ;
        display: none;
        position: absolute;
        flex-direction: column;
        border-radius: 0.3rem;
        transition-duration: 1s;

        a {
            padding: 0.7rem 2.2rem;

            h3 {
                font-weight: 400;
            }
        }
    }
}

// Scroll Spy: 
#scroll-spy-container {
    height: 0.4rem;
    width: 75vw;
    margin: auto;
    overflow:visible;
}

#scroll-spy {
    height: 60%;
    width: 0%;
    box-sizing: border-box;
    transition: 0.25s ease-in-out;
}

#ruler {
    width: 75vw;
    margin: auto;
}

.interval {
    width: 0rem;
    height: 0.4rem;

    &:nth-child(even) {
        height: 0.6rem;
    }
    
    &:nth-child(5n) {
        height: 1rem;
    }
}





.page {
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            display: block;
            align-self: center;
        }
    }
}


// navigations
.go-down, .go-up {
    width: $icon1;
    height: $icon1;
    animation: breath 2s ease-in-out 0s infinite alternate none;
}


.hide {
    display: none !important;
}

.cover {
    animation: pageCover 0.5s ease-in-out 0s 1 normal none;
}

.uncover {
    animation: pageCover 0.5s ease-in-out 0s 1 reverse none;    
}

.top {
    z-index: 5 !important;
}

// helper: **************************************************



// Animations: ********************************************************************************************

@keyframes menu-fade-down {
    from {opacity: 0.2; transform: translateY(-0.5rem);}
    to {opacity: 1; transform: translateY(0rem);}
}

@keyframes breath {
    from {transform: translatey(-1rem);}
    to {transform: translatey(0rem);}
}

@keyframes pageCover {
    from {transform: translateY(100vh) rotate(10deg);}
    to {transform: translateY(0) rotate(0deg);}
}



// Media: ***********************************************************************************************************

// small screens
@media only screen and (min-width: 375px) {
    // make the fonts smaller
    :root {
        font-size: 12px;
    }

    .profile-photo {
        margin-top: 0.5rem !important;
    }
    
}

// medium screen
@media only screen and (min-width: 600px){
    // base font size
    :root {
        font-size: 14px;
    }

    .profile-photo {
        margin-top: 1rem;
    }
}

// large screen
@media only screen and (min-width: 900px){
    // base font size
    :root {
        font-size: 16px;
    }

    // navbar:
    nav {
        div > h3 {
            padding: 1rem;
        }

        div > .profile-photo {
            margin-top: 2rem !important;
            position: absolute;
        }
    }
    .dropdown {

        .menu-btn {
            display: none;
        }
        .dropdown-content {
            display: flex;
            flex-direction: row;
            position: relative;

            // coloring will be reseted
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;

            a {
                padding: 1rem 0.6rem;
            }
        }
    }


}

// very large screens
@media only screen and (min-width: 1200px) {
    // base font size
    :root {
        font-size: 16px;
    }    
}
